*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.links li{
    list-style: none;
}
a{
    font-family:arial;
    font-weight:bold;
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
.menu a{
    color: dimgray;
}
.links a:hover{
    background: rgb(255, 178, 110);
    padding: 7px 13px;
    border-radius: 3px;
    transition: 0.5s;
}
.links a:not(:hover){
    transition: 0.5s;
}
header{
    position: fixed;
    padding: 0 2rem;
    background-color: rgb(245, 155, 76);
    box-shadow: -2px 2px rgb(255, 216, 43);
    width: 100%;
    top: 0;
    z-index: 10;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .links{
    display: flex;
    gap: 5rem;
}
.navbar .alternar_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.accion_btn{
    background-color: rgb(255, 208, 0);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}
.accion_btn:hover{
    scale: 1.05;
    color: white;
}
.registro-btn{
    background-color: rgb(255, 208, 0);
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}
.cerrar-sesion{
    background-color: rgb(255, 208, 0);
    color: white;
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    display: none;
}
.cerrar-sesion:hover, .registro-btn:hover{
    scale: 1.05;
    color: white;
}
.mostrar_menu{
    display: none;
    position: absolute;
    z-index: 1;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 280px;
    background: rgba(255, 255, 255, 0.664);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.mostrar_menu li{
    padding: 0.8rem;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}
.mostrar_menu .m_links{
    padding-left: 20px;
}
.mostrar_menu.open{
    height: auto;
}
.mostrar_menu .accion_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}
.mostrar_menu .registro-btn{
    width: 100%;
    justify-content: center;
    color: white;
    background-color: rgb(245, 155, 76);
    margin-top: -15px;
}
.mostrar_menu .cerrar-sesion{
    width: 100%;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgb(245, 155, 76);
    margin-top: -35px;
    display: none;
}
@media(max-width: 1130px){
    .navbar .links, .navbar .accion_btn{
        display: none;
    }
    .navbar .alternar_btn{
        display: block;
    }
    .mostrar_menu{
        display: block;
    }
    .menu .m_links:hover{
        background: none;
        color: rgb(255, 208, 0);
    }
}
@media(max-width: 570px){
    .mostrar_menu{
        left: 2rem;
        width: unset;
    }
}
@media(max-width: 620px){
    .nosotros{
        width: 388px;
    }
}
.submenu{
    margin-top: 6px;
    position: absolute;
    z-index: 5;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.781);
    border-radius: 4px;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.links li:hover .submenu{
    display: block;
}
.submenu li a{
    display: block;
    color: rgb(129, 129, 129);
    padding: 10px;
}
.submenu li a:hover{
    background-color: rgb(255, 178, 110);
    color: white;
    padding: 15px 15px 15px 20px;
    border-radius: 4px;
    transition: none;
}
.submenu_2{
    margin-top: 6px;
    margin-left: 40px;
    border-left: 2px solid rgb(255, 225, 91);
    overflow: hidden;
    height: 0;
    transition: 0.5s;
}
.submenu_2 li a:hover{
    background-color: rgb(255, 222, 73);
    padding: 5px 15px;
    color: white;
    border-radius: 4px;
    transition: 0.5s;
}
.submenu_2 li a:not(:hover){
    transition: 0.5s;
}
.ver .icono{
    transform: rotate(180deg);
}
.icono{
    margin-left: 30px;
    transition: transform 0.5s;
}
.fa-shopping-cart{
    margin-right: 15px;
}
.fa-door-open{
    margin-right: 15px;
}
.cuerpo{
    margin: 20px;
    margin-top: 90px;
    padding-bottom: 20px;
    line-height: 1.5;
}
.nosotros{
    float: right;
    border-radius:4px;
	box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 30px;
}
h1{
    text-align:center;
    font-family:century gothic;
    color:orange;
}
h3{
    font-family:century gothic;
    padding-left:22px;
    color:sandyBrown;
    padding-bottom: 10px;
    text-transform: uppercase;
}
h4{
    font-family:verdana;
    color:white;
}
h5{
    text-align:center;
    font-family:lucida sans;
    color:dimGray;
}
p, dd{
    font-family:arial;
    padding-left:30px;
    padding-right:30px;
    color:DimGray;
    text-align:justify;
}
dl dt{
    font-family:arial;
    font-weight:bold;
    color:DimGray;
    padding-bottom: 5px;
}
.lista{
    margin: 35px;
    margin-top: 0;
}
.lista dl{
    column-count: 2;
    column-width: 300px;
}
.pie_pagina{
    width: 100%;
    background-color: rgb(245, 155, 76);
    margin-bottom: -100px;
}
.pie_pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie_pagina .grupo1 .b_posicion{
    padding-left: 25px;
}
.pie_pagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie_pagina .grupo1 .box figure img{
    width: 400px;
}
.pie_pagina .grupo1 .box h2{
    font-family:verdana;
    color:white;
    margin-bottom: 25px;
    font-size: 20px;
    border-bottom: 2px solid rgb(255, 208, 0);
    padding-bottom: 10px;
    display: inline-block;
}
.pie_pagina .grupo1 .box p{
    color:#efefef;
    margin-bottom: 10px;
    margin-left: -30px;
}
.pie_pagina .grupo1 ul{
    list-style: none;
}
.pie_pagina .grupo1 ul li a{
    line-height: 2;
    transition: all 0.3s ease;
}
.pie_pagina .grupo1 ul li a:hover{
    color: rgb(255, 225, 91);
    padding-left: 6px;
}
.pie_pagina .grupo2{
    background-color: rgb(252, 168, 94);
    padding: 15px 10px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pie_pagina .grupo2 small{
    font-size: 15px;
}
@media screen and (max-width:800px) {
    .pie_pagina .grupo1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .pie_pagina .grupo1 .b_posicion{
        padding-left: 0px;
    }
}
.h_product{
    margin-top: 85px;
}
.product img{
	height:250px;
}
.card .inal_2{
    height: 278px;
}
.card .inal_3{
    height: 277px;
}
.card{
	border-radius:4px;
	background-color:white;
	box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding:15px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card p{
    padding:5px;
}
.card h3{
    text-align: center;
}
.card .precio{
    font-weight:bold;
    font-size: 24px;
}
.card .precio_ant{
    margin-top: -12px;
    margin-bottom: 8px;
}
.card a{
    text-align: center;
    font-size: 16px;
    width: 80%;
}
.card h4{
    color: sandybrown;
    font-family: Arial, Helvetica, sans-serif;
}
.card h4:hover{
    cursor: pointer;
}
.c_productos{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 40px 20px;
    justify-content: center;
}
@media(max-width: 975px){
    .c_productos{
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        padding: 30px 20px;
    }
}
@media(max-width: 630px){
    .c_productos{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 30px 20px;
    }
}
.card .mas{
    color: sandybrown;
    margin-top: 9px;
    margin-left: -200px;
}
.card .submenu_2{
    border-left: none;
    margin-left: 0;
}
.card .submenu_2 p{
    border-top: 2px solid sandybrown;
}
